<main class="container">
  <%= link_to sanitize("&larr; Back"), @message.room %>

  <div class="header">
    <h1>New message</h1>
  </div>

  <%= turbo_frame_tag "new_message" do %>
    <%= render "form", message: @message %>
  <% end %>
</main>