<main class="container">
  <%= link_to sanitize("&larr; Back to room"), room_path(@room) %>

  <div class="header">
    <h1>Edit Room</h1>
  </div>

<%# or @room %>
  <%= turbo_frame_tag "room_#{@room.id}" do %>
    <%= render "form", room: @room %>
  <% end %>
</main>