<main class="container">
    <div class="header">
          <h1>Rooms</h1>
          <%= link_to "New Room",
                new_room_path,
                class: "btn btn--primary" %>
    </div>

    <%# show the partial _room.html.erb %>
    <%= render @rooms %>
</main>