<main class="container">
  <%= link_to sanitize("&larr; Back to rooms"), rooms_path %>
  <div class="header">
    <h1>
      <%= @room.name %>
    </h1>
  </div>

    <%= render @room.messages %>

    <%= link_to "New Message", new_room_message_path(@room) %>
</main>