// Navbar Styles
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-m) var(--space-l);
  background-color: var(--color-dark);
  color: var(--color-white);
  font-family: var(--font-family-sans);
  box-shadow: var(--shadow-large);

  &__brand {
    font-size: var(--font-size-xxl);
    font-weight: bold;
    color: var(--color-white);
  }

  &__name {
    font-size: var(--font-size-m);
    margin-right: auto;
    margin-left: var(--space-l);
    color: var(--color-primary);

    span {
        color: var(--color-white)
    }
  }

  .btn {
    &--dark {
      background-color: var(--color-white);
      color: var(--color-dark);
      padding: var(--space-xs) var(--space-s);
      border: none;
      border-radius: var(--border-radius);
      text-transform: uppercase;
      font-size: var(--font-size-s);
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: var(--color-light);
        color: var(--color-dark);
      }
    }
  }

  &__right {
    margin-left: auto;
  }
}
